
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {color: white; text-decoration: none;}
    </style>
</head>
<body>
<main>
    <article class="text-center">
        <h2>@ViewBag.Greeting World</h2>
        <h3>You're invited</h3>
        <button class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </button>
    </article>
</main>
</body>
</html>
